body {
  font-family: system-ui, sans-serif;
  background: #f8f8f8;
  color: #333;
  margin: 2rem;
  line-height: 1.6;
}

article {
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #222;
}

section {
  background: white;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
  color: #2a5d9f;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 0.25rem;
}

ul,
ol {
  margin: 0.5rem 0 1rem 1.5rem;
}

strong {
  color: #444;
}

code {
  background: #f0f0f0;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  font-family: monospace;
}

.colortest{
  color: #2a5d9f;
}

.colortest ul{
  color: aqua;
}

.button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #0078d7;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 1rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  bottom: 1;
}
.button:hover {
  background-color: #005fa3;
}